@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
body {
  background-color: #222;
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
}

#title {
  background-color: #222;
  font-family: "Cormorant Garamond", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 5px 10px #000a, 0px 20px 20px #0003 inset, 0px -20px 20px #0003 inset;
          box-shadow: 0px 5px 10px #000a, 0px 20px 20px #0003 inset, 0px -20px 20px #0003 inset;
}

#title > h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4em;
  margin: 0;
  color: #fff;
  line-height: 0.8em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

#title > h1 > .inverted {
  color: #222;
  background-color: white;
  background-position: center;
  text-align: center;
  display: inline-block;
  height: 0.8em;
  width: 0.8em;
}

#container {
  position: relative;
  background-color: #222;
  -webkit-box-shadow: 0px 0px 15px 2px #000a inset, 0px 0px 30px 10px #000a;
          box-shadow: 0px 0px 15px 2px #000a inset, 0px 0px 30px 10px #000a;
}

#controls > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#slider {
  height: 15vh;
}

.tile {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3em;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.selectable:hover {
  -webkit-filter: brightness(250%);
}

.hide-bcg {
  opacity: 0;
}

.digit {
  width: 2em;
  height: 3em;
  background-size: 2em 3em;
}

.ui {
  font-family: "Special Elite", cursive;
  font-size: 2em;
  background: transparent;
  color: #ff9100;
  border: #ff9100 solid 3px;
  border-radius: 2px;
  width: 5em;
}

.ui:hover {
  color: #ffde4b;
  border: #ffde4b solid 3px;
  text-shadow: 0 0 15px #ff3c00, 0 0 2px #ffde4b;
  -webkit-box-shadow: 0 0 15px #ff3c00, 0 0 2px #ffde4b, 0 0 15px #ff3c00 inset, 0 0 2px #ffde4b inset;
          box-shadow: 0 0 15px #ff3c00, 0 0 2px #ffde4b, 0 0 15px #ff3c00 inset, 0 0 2px #ffde4b inset;
}

.content {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
  justify-items: center;
}

.wrapper {
  overflow: hidden;
  position: relative;
  width: 15vh;
  height: 15vh;
  background-color: #222;
  z-index: 1;
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  left: -15vh;
  width: 100000px;
}

.control {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  background: #fff;
}

#clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1vh;
}

.screenBcg {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#ad6200bb, #000), repeating-linear-gradient(0deg, #ff910040, #0004, #0004, #ff910040 1vh);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  position: absolute;
  z-index: 3;
}

.customWindow {
  color: #ff9100;
  font-family: "Special Elite", cursive;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: #ffab4b solid 3px;
  text-shadow: 0 0 20px #ff3c00, 0 0 2px #ffde4b;
  -webkit-box-shadow: 0 0 20px #ff3c00, 0 0 2px #ffde4b, 0 0 15px #ff3c00 inset, 0 0 2px #ffde4b inset;
          box-shadow: 0 0 20px #ff3c00, 0 0 2px #ffde4b, 0 0 15px #ff3c00 inset, 0 0 2px #ffde4b inset;
}

.customWindow > .windowWrapper {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customWindow > .windowWrapper > h1 {
  color: #ffde4b;
  font-size: 4em;
  text-align: center;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.customWindow > .windowWrapper > h2 {
  color: #ffde4b;
  font-size: 2em;
  text-align: center;
  margin: 0;
  margin-bottom: 0.25em;
}

.customWindow > .windowWrapper > p {
  font-size: 2em;
  text-align: center;
}

.customWindow > .windowWrapper > input {
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  margin-bottom: 1em;
  font-size: 2em;
  width: 4em;
  height: 2.5em;
  font-family: "Special Elite", cursive;
  background: transparent;
  color: #ff9100;
  border: #ffab4b solid 3px;
  text-shadow: 0 0 20px #ff3c00, 0 0 2px #ffde4b;
  -webkit-box-shadow: 0 0 20px #ff3c00, 0 0 2px #ffde4b, 0 0 15px #ff3c00 inset, 0 0 2px #ffde4b inset;
          box-shadow: 0 0 20px #ff3c00, 0 0 2px #ffde4b, 0 0 15px #ff3c00 inset, 0 0 2px #ffde4b inset;
}

.customWindow > .windowWrapper > input:focus {
  color: #ffde4b;
  border-color: #ffde4b;
  text-shadow: 0 0 30px #ff3c00, 0 0 2px #ffde4b;
  -webkit-box-shadow: 0 0 35px #ff3c00, 0 0 4px #ffde4b, 0 0 35px #ff3c00 inset, 0 0 4px #ffde4b inset;
          box-shadow: 0 0 35px #ff3c00, 0 0 4px #ffde4b, 0 0 35px #ff3c00 inset, 0 0 4px #ffde4b inset;
}

.customWindow > .windowWrapper > table {
  text-align: center;
  font-size: 1.5em;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.customWindow > .windowWrapper > table > tr,
.customWindow > .windowWrapper > table .even {
  background-color: #ff910040;
}

.customWindow > .windowWrapper > button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1em;
  font-size: 2em;
  width: 4em;
  height: 2em;
  font-family: "Special Elite", cursive;
  background: transparent;
  color: #ff9100;
  border: #ffab4b solid 3px;
  text-shadow: 0 0 20px #ff3c00, 0 0 2px #ffde4b;
  -webkit-box-shadow: 0 0 20px #ff3c00, 0 0 2px #ffde4b, 0 0 15px #ff3c00 inset, 0 0 2px #ffde4b inset;
          box-shadow: 0 0 20px #ff3c00, 0 0 2px #ffde4b, 0 0 15px #ff3c00 inset, 0 0 2px #ffde4b inset;
}

.customWindow > .windowWrapper > button:hover {
  color: #ffde4b;
  border-color: #ffde4b;
  text-shadow: 0 0 30px #ff3c00, 0 0 2px #ffde4b;
  -webkit-box-shadow: 0 0 35px #ff3c00, 0 0 4px #ffde4b, 0 0 35px #ff3c00 inset, 0 0 4px #ffde4b inset;
          box-shadow: 0 0 35px #ff3c00, 0 0 4px #ffde4b, 0 0 35px #ff3c00 inset, 0 0 4px #ffde4b inset;
  cursor: pointer;
}

.customWindow > a {
  position: absolute;
  font-size: 2.5em;
  right: 0.5em;
  top: 0.5em;
}

.customWindow > a:hover {
  color: #ffde4b;
  text-shadow: 0 0 10px #ff3c00, 0 0 2px #ffde4b;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  #title > h1 {
    font-size: 2em;
  }
}
/*# sourceMappingURL=style.css.map */